[submodule "external/depthai-core"]
	path = external/depthai-core
	url = https://github.com/luxonis/depthai-core.git
[submodule "external/rerun"]
	path = external/rerun
	url = https://github.com/rerun-io/rerun.git
[submodule "external/dexmate-urdf"]
	path = external/dexmate-urdf
	url = https://github.com/dexmate-ai/dexmate-urdf.git
